edit-profile-page{

  .profile-header{
          position: relative;
          height: 120px;
          background-color: rgb(26, 177, 241);
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }
    .profile{
        position: relative;
      }
      .profile-box{
          position: absolute;
          top: -95px;
          width: 100%;
          z-index: 2;
          text-align: center;
      }
      .profile-image{
          width: 115px;
          height: 115px;
          margin: 0 auto 0;
          border-width: 3px;
          border-style: solid;
          border-color: rgb(255, 255, 255);
          border-image: initial;
      }   
    
      ion-list > .item:first-child, 
      ion-list > .item-block:first-child .item {
            border-bottom: none;
      }
        
      ion-list > .item:last-child, 
      ion-list > .item-block:last-child .item {
            border-bottom: none;
      }
      ion-title {
          color:#fff
      }
    
        button,
        ion-button,
        .button-md,
        .button-ios {
          text-transform: none !important;
        }
        p {
          color: #444;
        }

      .edit-profile-list ion-label{
        font-size:12px !important;
        color: gray;
      }

      .edit-profile-list ion-input, ion-select, ion-datetime {
        font-size:16px !important;
        color: black;
      }

      .update-button{
        width: 180px;
        margin-bottom: 80px;
        margin-top: 30px;
      }

      .segment-font{
        font-size: 18px !important;
      }
  
      .list-item-header{
        margin-bottom:2px;margin-top:15px;
        color: #0f0f0f !important;
        text-align:left;
      }

      .list-item-header p{
        font-size:16px !important;
        // color: white !important;
      }

      .remove-ok {
        .alert-button:nth-child(2) {
            display: none;
        }
    }

}
.remove-ok {

  .alert-button:nth-child(1) {
    display: none;
}
}
.edidImage{
  
  
  bottom: 20px !important;
  right: 20px !important;
  background-color: black !important;
  color: white !important;
  padding-left: 20px !important;
  padding-right: 20px !important;

}
@media screen and (min-width: 1025px) {
  
    .picker-wrapper {
      bottom: 30%;
    }
  
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 1px 0 0 #32db64 !important;
    box-shadow: inset 0 1px 0 0 #32db64 !important;

}