<ion-header>
        <ion-navbar color="lightblue">
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Bulk Notification</ion-title>
        </ion-navbar>
        <ion-toolbar no-border-top color="lightblue">
          <ion-segment [(ngModel)]="viewMode" color="light">
            <ion-segment-button value="first">
              Student/Guardian
            </ion-segment-button>
            <ion-segment-button value="secand">
              Staff
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list no-lines class="notification-list" *ngIf="viewMode==='first'">
          <ion-item >
            name
            <p>
              <span class="small">
                email
              </span>
              <span>&nbsp;|</span>
              <span class="small">987654356</span>
            </p>
            <ion-icon color="lightGray" item-end small name="ios-arrow-forward-outline"></ion-icon>
          </ion-item>
        </ion-list>
      
        <ion-list no-lines class="result-list" *ngIf="viewMode==='secand'">
                <ion-item >
                        name
                        <p>
                          <span class="small">
                            email
                          </span>
                          <span>&nbsp;|</span>
                          <span class="small">987654356</span>
                        </p>
                        <ion-icon color="lightGray" item-end small name="ios-arrow-forward-outline"></ion-icon>
                      </ion-item>
                    
        </ion-list>
      
      </ion-content>