// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//*************** for sidemenu  ***************//
// Material Design Sidemenu
//@import '../theme/animations';


#menu-material {
  .list-box{
    margin-top:190px;
  }
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/md-bg3.jpg');
    background-size: cover;
    // background-color: color($colors, blue2);
    background-color: #2AACD8 !important;

    color: white;
    .name {
      font-weight: 400;
      font-size:18px;
      margin-top: 10px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: .5em;
      height: 12vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }
  h3,
  .label,
  {
    color: #616161;
    font-weight: 400;
  }
  ion-icon {
    color: #616161;
  }
}
#menu-ios{
  .menu-header {
    text-align: center;
    margin: auto;
    // width: 50%;
    // margin-top: 10px;
    // margin-bottom: 20px;
    // padding: 5px 15px;
    padding: 5px 5px;
    background-color: #2AACD8 !important;;

    color:#ffffff;
    .name {
      margin-top:8px;
      font-weight: 500;
      font-size:16px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: .5em;
      height: 15vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }
}

#menu-pwa {
  .list-box{
    margin-top:10px;
  }
  .menu-header {
    text-align: center;
    margin: auto;
    // width: 50%;
    // margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-size: cover;
    // background-color: color($colors, ios-gray);
    background-color: #2AACD8 !important;
    color: #ffffff;
    .name {
      margin-top:8px;
      font-weight: 500;
      font-size:16px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: .5em;
      height: 15vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }

  h3,
  .label,
  {
    color: #616161;
    font-weight: 400;
  }
  ion-icon {
    color: #616161;
  }
}
.sub-menu .item-inner{
  padding-left: 56px;
}
.round {
  border-radius: 50%;
}
.notification{

  position: absolute;
  top: -11px;
  right: -15px;
  padding: 9px 10px;
  border-radius: 26%;
  ion-badge{
    font-size: 1rem !important;
  }
}

.app-error{
  font-weight: 50;
  font-size: 16px;
  text-transform: uppercase;
  color: red !important;
}

.ion-content{
  background-color: #E9EFFB;
  // background-image: url('../assets/app-b.png');
  // opacity:0.3;
}
.content-md{
  background-color: #E9EFFB;
  //background-image: url('../assets/app-b.png');
  // background-image: url('../assets/appbg.jpg');
  // opacity:0.3;
}

.list-header-md {
  margin-bottom: 0px !important;
}

.menu-pages-items{
  border-top: 1px solid #dedede !important;
}

// primary:    #488aff,
// secondary:  #32db64,
// danger:     #f53d3d,
// light:      #f4f4f4,
// dark:       #222,
// darkGray:   #333333,
// lightGray:   #D3D3D3,
// stable:#32db64,
.toast-secondary{
    > div{
    background-color:#32db64!important;
    color: white!important;
  }
}

.toast-primary{
  > div{
  background-color:#488aff!important;
  color: white!important;
}
}

.toast-stable{
  > div{
  background-color:#32db64!important;
  color: white!important;
}
}

.toast-danger{
  > div{
  background-color:#f53d3d!important;
  color: white!important;
}
}

.inline-error-message{
  color: rgb(156, 154, 154);
  font-size: 16px;
  text-transform: capitalize;
}

.inline-error-icon{
  color: rgb(156, 154, 154);
  font-size: 18px;
}


.vertical-align-content > * {
  align-items: center;
}
.height-200x{
  height: 200px !important;
}
.height-300x{
  height: 300px !important;
}
.height-450x{
  height: 450px !important;
}
.height-600x{
  height: 600px !important;
}

.small{
  font-size: 1rem !important;
}
.error{
  color: red !important;
  font-size: 1rem !important;
}
.serial{
  padding-top: 10%;
  font-size: 20px;
  color: #fff;
  background-color: rgb(19, 18, 18);
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
 }
/* Margin
 ========================================================================== */
/*
 * Create a block with the same margin of a paragraph
 * Add margin if adjacent element
 */
 .margin {
  margin-bottom: 15px;
}
* + .margin {
  margin-top: 15px;
}
.margin-top {
  margin-top: 15px !important;
}
.margin-bottom {
  margin-bottom: 15px !important;
}
.margin-left {
  margin-left: 15px !important;
}
.margin-right {
  margin-right: 15px !important;
}
.margin-small-vertical {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.margin-small-horizontal {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
/*
 * Larger margins
 */
.margin-large {
  margin-bottom: 30px;
}
* + .margin-large {
  margin-top: 30px;
}
.margin-large-top {
  margin-top: 30px !important;
}
.margin-large-bottom {
  margin-bottom: 30px !important;
}
.margin-large-left {
  margin-left: 30px !important;
}
.margin-large-right {
  margin-right: 30px !important;
}
.margin-small-vertical {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.margin-small-horizontal {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
/*
 * Smaller margins
 */
.margin-small {
  margin-bottom: 5px;
}
* + .margin-small {
  margin-top: 5px;
}
.margin-small-top {
  margin-top: 5px !important;
}
.margin-small-bottom {
  margin-bottom: 5px !important;
}
.margin-small-left {
  margin-left: 5px !important;
}
.margin-small-right {
  margin-right: 5px !important;
}
.margin-small-vertical {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.margin-small-horizontal {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

/*
 * Remove margins
 */
.margin-remove {
  margin: 0 !important;
}
.margin-top-remove {
  margin-top: 0 !important;
}
.margin-bottom-remove {
  margin-bottom: 0 !important;
}
.margin-left-remove {
  margin-left: 0 !important;
}
.margin-right-remove {
  margin-right: 0 !important;
}
.margin-vertical-remove {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.margin-horizontal-remove {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Padding
 ========================================================================== */
.padding-remove {
  padding: 0 !important;
}
.padding-top-remove {
  padding-top: 0 !important;
}
.padding-bottom-remove {
  padding-bottom: 0 !important;
}

.padding-bottom-left {
  padding-left: 0 !important;
}

.padding-bottom-right {
  padding-right: 0 !important;
}

.padding-vertical-remove {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-horizontal-remove {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* ========================================================================
  Text
 ========================================================================== */
/* Size modifiers
 ========================================================================== */
 .text-small {
  font-size: 1.2rem !important;
}
.text-xsmall {
 font-size: 1.1rem !important;
}
.text-large {
 font-size: 1.5rem !important;
 font-weight: normal !important;
}
.text-large {
  font-size: 1.0rem !important;
  font-weight: normal !important;
 }

/* Weight modifiers
 ========================================================================== */
.text-bold {
  font-weight: bold !important;
}
/* Color modifiers
 ========================================================================== */
.text-muted {
  color: #999999 !important;
}
.text-primary {
  color: #488aff !important;
}
.text-success {
  color: #32db64 !important;
}
.text-warning {
  color: #e28327 !important;
}
.text-danger {
  color: #f53d3d !important;
}
.text-contrast {
  color: #ffffff !important;
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
  // ---
}

//ion-content {
//  background-image: url('../assets/school-bg15.jpg');
//  -webkit-background-image: url('../assets/school-bg15.jpg');
//}
