<ion-menu persistent="true"  [content]="content">
    <ion-content>
        <div id="menu-ios" sshowWhen="ios" class="sideMenu-header" color="gray">
            <div class="menu-header" menuClose (click)="onViewProfile()">
                <p *ngIf="userPrefernce.imageId==null || userPrefernce.imageId=='undefined' ">
                    <img class="user-avatar round" src="assets/img/default.png">
                </p>
                <p *ngIf="userPrefernce.imageId!=null && userPrefernce.imageId!='undefined'">
                    <img class="user-avatar round" src="http://demo.educoresystems.com/api-v1.0/zuul/files/browse/{{userPrefernce.imageId}}">
                </p>
                <p class="name">{{userPrefernce.fullName}}</p>
                <p class="email">{{userPrefernce.email}} </p>
            </div>
            <ion-list no-lines>
                <div>
                    <ion-item tappable (click)="toggleUsers(userShow)">
                        <ion-icon color="gray" name="ios-people" item-left></ion-icon>
                        Accounts
                        <ion-icon item-right [name]="icon"></ion-icon>
                    </ion-item>
                    <div class="sub-menu" *ngIf="userShow">
                        <ion-item tappable menuClose item-right *ngFor="let userdetails of loginUsers">
                            <div (click)="onSwitchAccount(userdetails.id)">
                                {{userdetails.fullName}}
                            </div>
                        </ion-item>
                        <ion-item tappable menuClose item-right>
                            <div (click)="onAddAccount()">Add Account </div>
                        </ion-item>
                    </div>
                </div>
                <ion-item menuClose (click)="onHome1()" class="menu-pages-items">
                    <ion-icon color="gray" name="ios-home-outline" item-left></ion-icon>
                    Home
                </ion-item>
                <div *ngFor="let d of menu">
                    <ion-list-header>
                        <ion-icon color="gray" [name]="d.iconLeft" item-left></ion-icon>
                        {{d.title}}
                    </ion-list-header>
                    <div class="sub-menu">
                        <ion-item tappable menuClose item-right *ngFor="let item of d.items" (click)="openPage(item)">
                            <div>{{item.name}}</div>
                        </ion-item>
                    </div>

                </div>
                <div class="menu-pages-items" *ngFor="let p of pages">
                    <ion-item menuClose (click)="openPage(p)">
                        <ion-icon [name]="p.icon" color="gray" item-left></ion-icon>
                        {{p.title}}
                    </ion-item>
                </div>
            </ion-list>
        </div>

    </ion-content>
</ion-menu>
<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>