page-settings {
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    box-shadow: inset 0 -1px 0 0 #dedede;
  }
  ion-select {
    max-width: 100%;
    text-align: right;
    width: 100%;
  }
  .text-input-md {
    text-align: right;
    font-weight: 400;
  }
  ion-label {
    overflow: initial;
  }
}
