// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #009688,
  secondary:  #1479C9,
  tertiary:   #FF4653,
  favorite:   #E2B90B,
  danger:     #C91914,
  light:      #ffffff,
  dark:       #2f353b,
  stable:     #97a0a9,
  royal:      #886aea,
  facebook:   #3b5998,
  google:     #dd4b39,
  twitter:    #1da1f2,
);


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: color($colors, dark);
$background-color: color($colors, light);
$menu-width: 100px; 
$headings-font-weight: 300;
$toolbar-background: darken(color($colors, light), 5%);
$tabs-background: darken(color($colors, light), 5%);
$text-input-highlight-color-invalid:  color($colors, danger);
$text-input-highlight-color-valid: color($colors, primary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$font-family-md-base: 'Lato', sans-serif;
$toolbar-md-title-font-weight: 300;
$item-md-divider-background: lighten(color($colors, stable), 30%);
$action-sheet-md-title-color: color($colors, primary);
// $item-md-divider-font-size: 1.6rem;
$item-md-body-text-font-size: 1.2rem;
$item-md-divider-font-size:1.5rem;
$text-input-md-show-focus-highlight: false;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
