<ion-header >
    <ion-navbar color="ios-blue">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Attendance</ion-title>

    </ion-navbar>
  </ion-header>
  
  
  <ion-content >
        <ion-list   >
            <ion-item *ngFor="let batch of batches" (click)="onAttendanceMark(batch.id,batch.courseId.id)">
              <ion-avatar  item-left >
                  <img  src="assets/img/task.png" > 
              </ion-avatar>
              <p>
                <span>
                    <ion-icon color="ios-red" name="book"></ion-icon>  <b>Class :</b> {{batch.courseId.name}} 
                </span>
              </p>  
  
              <p>
                 <span class="small"><b> Section :</b> {{batch.name}} - {{batch.code}} </span>
              </p>
              <ion-note item-right>
                <ion-icon *ngIf="batch.ismarkedAttendance==true" color="ios-green" name="checkmark"></ion-icon> 
              </ion-note>
            </ion-item>
        </ion-list>
    </ion-content>

    