page-manage-attendance{

  position: absolute;
  height: 100%;
  width: 100%;
  ion-scroll {
    position: relative;
    height: 100%;
  }
  ion-content {
    background: color($colors, light) !important;
  }
  ion-card {
    border-radius: 0 !important;
    position: relative;
    text-align: center;
    .label-md {
      margin: 3px 8px 3px 0;
    }
    .item-md ion-avatar[item-left] {
      margin: 8px 16px 0px 0;
    }
    ion-col[width-35] {
      flex: 0 0 35%;
      max-width: 35%;
    }
    ion-col {
      padding: 0;
    }
    .background-image {
      height: 160px;
      background-position: center;
      background-size: cover;
      background-color: rgba(90, 89, 89, 0.55);
      background-blend-mode: overlay;
    }
  }
  .time {
    position: absolute;
    top: 10px;
    padding: 5px 10px;
    font-size: 1.1rem;
    background: rgba(121, 128, 125, 0.81);
    padding: 7px 10px 7px 15px;
    color: #fff;
    text-transform: capitalize;
  }
  .social {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    text-align: right;
    .badge {
      padding: 5px 10px;
      background: color($colors, stable);
      color: color($colors, light);
      border-radius: 20px;
      font-size: 0.975rem;
    }
    ion-icon {
      font-size: 1.675rem;
      padding-right: 5px;
    }
  }
  .card-content {
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: left;
    .title{
      font-weight: 500!important;
      font-size: .9em;
    }
    p {
      padding: 0 16px;
    }
    ion-item {
      ion-avatar img {
        max-width: 3.3rem;
        max-height: 3.3rem;
        border: 2px solid color($colors, light) !important;
      }
      h2 {
        color: color($colors, dark) !important;
        font-size: 1.5rem !important;
        font-weight: 500!important;
      }
      p {
        color: color($colors, stable) !important;
        font-size: 1rem !important;
        padding: 0;
      }
    }
  }
  .footer {
    margin-top: 10px;
    ion-row {
      background: #eaeced !important;
      ion-col:last-of-type {
        border-right: none;
      }
      ion-col {
        border-right: 1px solid #dddfe1;
        padding: 10px;
        color: color($colors, tertiary);
        ion-icon {
          padding: 0 5px;
        }
        .faces {
          position: absolute;
          padding-left: 5px;
          img {
            width: 25px;
            border-radius: 50%;
            display: inline;
          }
        }
      }
    }
  }
}