<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Attendance</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list >
    <ion-item *ngFor="let student of students; let count = index" 
    [ngClass]="{'persent': student.present==true, 'absent': student.absent==true}" (click)="onTouch(count)">
      <ion-avatar item-left>
        <img *ngIf="student.gender=='Male' || student.gender=='M'" class="profile-image" src="assets/img/student-m.png">
        <img *ngIf="student.gender=='Female' || student.gender=='F'" class="profile-image" src="assets/img/student-f.png">
      </ion-avatar>
        <p>
           <span color="primary">{{student.name}}</span>&nbsp; 
            <span >&nbsp;| &nbsp;</span>
            <span class="small" >
                &nbsp; RollNumber : {{student.admissionId.registrations[0].rollNumber}}
            </span>
        </p>
        <p>
            <span class="small" > 
              <ion-icon color="primary" name="person"></ion-icon> Guardian :  {{student.guardianId.name}}
            </span> 
        </p>
        <p>
         <span class="small" ><ion-icon color="primary" name="pin"></ion-icon>&nbsp;
             {{student.contactDetailId.addressLine1}} 
             &nbsp;| &nbsp;
             City: {{student.contactDetailId.city}}
             &nbsp;| &nbsp; State : {{student.contactDetailId.state}} - {{student.contactDetailId.pinCode}} 
        </span>
        </p>
        <ion-note item-right ion-text color="stable">
            <p *ngIf="student.present==true">
              <ion-icon color="ios-green" name="done-all"></ion-icon>              
            </p>
            <p *ngIf="student.absent==true"><ion-icon color="ios-red" name="close"></ion-icon></p>
        </ion-note>
    </ion-item>
    <ion-item *ngIf="students.length==0">
        <h2>Student not found.</h2>
    </ion-item>  
  </ion-list>
</ion-content>
<ion-footer *ngIf="students.length!=0">
  <ion-row class="social" *ngIf="students.length!=counter && mode=='create'">
      <ion-col>
        <button ion-button color="danger" block block (click)="onAbsent()">
          Absent
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="secondary" block (click)="onPresent()">
          Persent
        </button>
      </ion-col>
  </ion-row>
  <ion-row *ngIf="students.length==counter && mode=='create'">
      <ion-col>
          <button ion-button block color="secondary" (click)="onSave()">Save</button>
      </ion-col>  
  </ion-row>
  <ion-row *ngIf="mode=='update'">
    <ion-col>
        <button ion-button block color="secondary" (click)="onUpdate()">Update</button>
    </ion-col>  
</ion-row>    
</ion-footer>
