home-page {
.acount-row{
 color:black;
 border-bottom: 2px solid 2px solid #bfbcbc;
 cursor: pointer;
margin: 0px 0px 15px;
}
.acount-row img{
    border-radius: 50%;
}
.add-acount{
 color: red !important;
 margin: 0px 0px 15px;
 cursor: pointer;
 }
.active-acount{
    background: #ececec;
}

}