page-viewProfile {
    
      .scroll-content{
        margin-top: 0 !important;
        // padding-top: 24px;
      }
    
      .toolbar-title {
          color:#FFFFFF;
      }
    
      .profile-header{
          position: relative;
          height: 80px;
          margin-bottom: 10px;
          background-color: #34354c;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      .profile{
        position: relative;
      }
      .profile-box{
          position: absolute;
          padding:20px !important;
          top: -75px;
          width: 100%;
          z-index: 2;
          text-align: center;
      }
      .profile-image{
          width: auto;
          height: 150px;
          // margin: 0 auto 0;
          //     border-width: 3px;
          // border-style: solid;
          // border-color: rgb(255, 255, 255);
          // border-image: initial;
      }
        #profile2-info {
        // position: absolute;
        //   top: 95px;
        //   z-index: 2;
          width: 100%;
          text-align: center;
        }
        #profile2-image {
          position: absolute;
          top: -10px;
          z-index: 2;
          // display: block;
          // border-radius: 50%;
          width: 115px;
          height: 115px;
          margin: 0 auto 0;
              border-width: 3px;
          border-style: solid;
          border-color: rgb(255, 255, 255);
          border-image: initial;
          // box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
        }
    
        .icon-align {
            -webkit-align-items:  flex-start !important;
            -ms-flex-align:  flex-start !important;
            align-items:  flex-start !important;
        }
        .opening-time ul{
           padding-left: 1.2em;
        }
    
        ion-list > .item:first-child, 
        ion-list > .item-block:first-child .item {
            border-bottom: none;
        }
        .list-ios > .item-block:first-child {
            /* border-top: 0.55px solid #c8c7cc; */
        }
        ion-list > .item:last-child, 
        ion-list > .item-block:last-child .item {
            border-bottom: none;
        }
    
        ion-title {
          color:#fff
        }
    
    
        button,
        ion-button,
        .button-md,
        .button-ios {
          text-transform: none !important;
        }
        p {
          color: #444;
        }
        // Cover image
        #profile2-bg {
          position: absolute;
          left: 0;
          width: 100%;
          margin-top: -16px;
          height: 240px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
        }
        // Profile content
        #content.profile2{
          position: relative;
          margin-top: 250px;
          padding-top: 200px;
          text-align: center;
        }
    
        #profile2-name {
          color: #444;
          font-size: 16px;
        }
        .profile2-description {
          font-size: 15px;
          color: #888;
        }
        .follow-button {
          text-transform: none;
          border-radius: 3px !important;
          ion-icon {
            font-weight: bold;
            padding-left: 5px;
            font-size: 2.5rem;
          }
        }
        // Following, Followers and all..
        .profile2-numbers {
          p {
            color: #444;
            font-size: 18px;
            margin-bottom: 3px;
          }
          span {
            font-weight: bold;
            font-size: 18px;
            color: #34354c;
          }
        }
        hr {
          border: 0;
          height: 1px;
          background: #444;
          background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, rgb(188, 198, 214) 50%, hsla(0, 0%, 0%, 0) 100%);
        }
        // Posts feed
        #posts {
          text-align: justify;
        }
    
      //************ Fading header  **********//
      .show-background{
        border-style: none;
        background : color($colors, green)
      }
      .transition{
         transition: font-size .3s ease-in;
      }














    .item[no-lines].bottom-border { 
        border-bottom: 1px solid #E9EFFB !important; 
    }

    

      
aside {
	position: relative;
  display: block;
  width: 80%;
	height: 33vh;
	overflow: hidden;
	margin: auto;
	margin-top: 70px;
	text-align: center;
	// padding: 5em;
	box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
	-webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
	-moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
	-o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
	// -webkit-animation: shadow 1s linear forwards;
	// -moz-animation: shadow 1s linear forwards;
	// animation: shadow 1s linear forwards;
	// -webkit-animation-delay: .5s;
	// -moz-animation-delay: .5s;
	// animation-delay: .5s;
}

@-moz-keyframes shadow {
	from {
		box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		max-width: 0em;
	}
	to {
		box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		max-width: 30em;
	}
}

@keyframes shadow {
	from {
		box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		max-width: 0em;
	}
	to {
		box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		max-width: 30em;
	}
}

@-webkit-keyframes shadow {
	from {
		box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-webkit-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-moz-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		-o-box-shadow: 0 0 6em -6em #000000, 0 0 6em -6em #000000;
		max-width: 0em;
	}
	to {
		box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-webkit-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-moz-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		-o-box-shadow: -4em 0 6em -6em #000000, 4em 0 6em -6em #000000;
		max-width: 30em;
	}
}

header img {
	width: 10em;
	opacity: 0;
	border-radius: 50%;
	box-shadow: .25em .25em .75em 0 #999;
	-webkit-box-shadow: .25em .25em .75em 0 #999;
	-moz-box-shadow: .25em .25em .75em 0 #999;
	-o-box-shadow: .25em .25em .75em 0 #999;
	-webkit-animation: circle .5s linear forwards;
	-moz-animation: circle .5s linear forwards;
	animation: circle .5s linear forwards;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-kthtml-transition: all .5s ease;
	transition: all .5s ease;
}

@-webkit-keyframes circle {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

@-moz-keyframes circle {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

@keyframes circle {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}

header {
	font: 1.25em/1em;
	letter-spacing: .3em;
	text-transform: uppercase;
}

header h2 {
  font-size: .75em;
  font-weight: bold;
}

.list-semi-transperent{
  opacity:0.8;
}

.icon-align p{
  font-size:12px;
  // font-weight: bold;
  color: grey;

}

.icon-align h2{
  font-size:16px;
  color :black;
}



.icon-align ion-icon{
  color :black;
  // font-weight: bold;
  font-size: 24px;
}

.icon-align{
  // margin-bottom: 5px;
  // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  // -moz-border-radius: 5px;
  // -webkit-border-radius: 5px;
  // border-radius: 5px; 
  // -khtml-border-radius: 5px; 
}

    
    }
