<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button icon-only ion-button (click)="onNotification()">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
        <span *ngIf="notificationCount!='0'" class="notification">
          <small>
            <ion-badge color="ios-red">{{notificationCount}}</ion-badge>
          </small>
        </span>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">

  <aside class="profile-card">
    <header>
      <a *ngIf="profile.imageId==null">
        <img src="assets/img/default.png"> </a>
      <a *ngIf="profile.imageId!=null">
        <img class="profile-image" src="{{imagePath}}/{{profile.imageId}}">

      </a>
      <h2 id="profile2-name">{{profile.name}} </h2>
    </header>
  </aside>


  <ion-list  class="list-semi-transperent">
    <ion-item no-lines class="icon-align bottom-border">
      <ion-avatar item-start>
        <ion-icon name="ios-mail-outline" item-left></ion-icon>
      </ion-avatar>
      <p>Email</p>
      <h2 *ngIf="profile.email=='-'">N/A</h2>
      <h2 *ngIf="profile.email!='-'">{{profile.email}}</h2>
      <div [innerHTML]="(profile2 | async)?.openingTime" class="opening-time"></div>
    </ion-item>
    <ion-item no-lines class="icon-align bottom-border">
      <ion-avatar item-start>
        <ion-icon name="ios-call-outline" item-left></ion-icon>
      </ion-avatar>
      <p>Mobile</p>
      <h2>{{profile.mobile}}</h2>
    </ion-item>
    <ion-item no-lines class="bottom-border" class="icon-align bottom-border">
      <ion-avatar item-start>
        <ion-icon name="ios-water-outline" item-left></ion-icon>
      </ion-avatar>
      <p>Blood Group</p>
      <h2 *ngIf="profile.bloodGroup=='-'">N/A</h2>
      <h2 *ngIf="profile.bloodGroup!='-'">{{profile.bloodGroup}}</h2>
    </ion-item>
    <ion-item no-lines class="bottom-border" class="icon-align bottom-border">
        <ion-avatar item-start>
            <ion-icon name="ios-calendar-outline" item-left></ion-icon>
          </ion-avatar>
      <p>Date Of Birth</p>
      <h2 *ngIf="profile.dob=='-'">N/A</h2>
      <h2 *ngIf="profile.dob!='-'">{{profile.dob}}</h2>
    </ion-item>
    
    <ion-item class="icon-align" no-lines class="bottom-border bottom-border" text-wrap>
        <ion-avatar item-start>
            <ion-icon name="ios-pin-outline" item-left></ion-icon>
          </ion-avatar>
      <p>Address</p>
      <h2>
        {{profile.address1}}
        <span *ngIf="profile.address2 && profile.address2!='-'">
            ,{{profile.address2}}
          </span>
          <span *ngIf="profile.city">,City: {{profile.city}}</span>
          <span *ngIf="profile.state">,State : {{profile.state}} - {{profile.pinCode}}</span>
      </h2>
      
    </ion-item>
  </ion-list>
  <ion-fab bottom right (click)="onEdit()">
      <button ion-fab>
          <ion-icon name="ios-create" color="white"></ion-icon>  
      </button>
      
    </ion-fab>
  
  

</ion-content>