<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="notification-list">
    <ion-item tappable no-lines *ngFor="let notificationDetails of notifications; let i=index" 
      text-wrap (click)="toggleDetail(i)"
      [ngClass]="{active: isDetailShown(i)}" (click)="onRead(notificationDetails.id)">
      <ion-avatar item-start >
          <span class="serial" [style.background-color]="notificationDetails.styleColor"> 
            {{notificationDetails.typeInfo}}</span>
      </ion-avatar>
      <span class="small" [ngClass]="{'read-notification': notificationDetails.readStatus=='READ', 
      'unread-notification': notificationDetails.readStatus=='UNREAD'}">&#9679;</span>{{notificationDetails.notificationId.template.subject}}
       <p> 
          <span *ngIf="notificationDetails.notificationId.resources.lenght" > 
              <ion-icon name="ios-attach-outline"></ion-icon></span>
          <span class="small text-flot-right">
           <!-- <ion-icon name="time"></ion-icon>  -->
           <small>{{notificationDetails.notificationId.pushTime}}</small>
        </span>
      </p> 
    </ion-item>
  </ion-list>
</ion-content>