profile-events {
  position: fixed;
  width: 100%;
  height: 50%;
  ion-scroll {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .loading{
      width:150px;
      margin: 20% auto;
  }
  .item-md h2 {
    font-size: 1.5rem;
  }
  .item-md p {
    font-size: 1.2rem;
  }
  p.date{
    font-size: 1rem;
  }
}
