*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
**.hosted.json
**config.hosted.js
**base.url.hosted.ts
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
notes.txt

