<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-avatar item-left>
                        <img  src="assets/img/info.png" > 
                </ion-avatar>    
                <h2 ion-text color="primary">{{notification.notificationId.template.subject}}</h2>
                <p ion-text color="stable">{{notification.notificationId.pushTime}}</p>
            </ion-item>
        </ion-card-header>    
        <ion-card-content>
            <p [innerHTML]="notification.message"></p> 
        </ion-card-content>
    </ion-card>  
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col text-right col-11>
           <h2 (click)="viewFile()" *ngFor="let resource of notification.resources">
               <span class="atteched-file-success">
                   {{resource}} <ion-icon name="cloud-download"></ion-icon>
                </span>
            </h2>
        </ion-col>  
    </ion-row>
</ion-footer>