<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar no-padding item-start >
                <span class="serial" [style.background-color]="notification.notificationId.styleColor"> 
                  {{notification.notificationId.typeInfo}}</span>
            </ion-avatar>
            {{notification.notificationId.type}}
            <ion-grid no-padding >
                <ion-row >
                    <ion-col >
                       <div align="left" class="small"> 
                        {{notification.notificationId.template.subject}}
                      </div>
                    </ion-col>
                    <ion-col>
                        <div align="right" class="small"> <ion-icon name="time"></ion-icon> 
                          {{notification.notificationId.pushTime}} 
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>       
        </ion-item>  
          <ion-card-content>
            <p  [innerHTML]="notification.message"></p>
            <ion-grid no-padding *ngIf="files!=null">
              <ion-row > 
                  <ion-col *ngFor="let file of files ">
                      <p class="small" >
                        <ion-icon name="document" color="red"></ion-icon>
                        <file-download [fileId]="file.id"
                                       [fileName]="file.name" >
                          </file-download> 
                        </p>
                  </ion-col>
              </ion-row>
          </ion-grid>   
          </ion-card-content>
        </ion-card>
 
</ion-content>