<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="isLoaded">
  <div class="noti-header">
    <h5> {{notification.notificationId.template.subject}} </h5>
  </div>

  <p class="noti-content" [innerHTML]="notification.message"></p>


  <ion-list *ngIf=false>
      <ion-item>
        Doc 
        <ion-icon name="leaf" item-end></ion-icon>
         
      </ion-item>
      <ion-item>
          Name 
          <ion-icon name="leaf" item-end></ion-icon>
           
        </ion-item>
    </ion-list>
  </div>  
  <!-- <ion-card >
    
    <ion-card-content>
      <ion-card-title ion-button icon-left clear color="gray">
        {{notification.notificationId.template.subject}}
      </ion-card-title>
      <p [innerHTML]="notification.message | slice:0:230"></p>
    </ion-card-content>
    
  </ion-card> -->

</ion-content>