<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button icon-only ion-button (click)="onNotification()">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
        <span *ngIf="notificationCount!='0'" class="notification">
          <small>
            <ion-badge color="ios-red">{{notificationCount}}</ion-badge>
          </small>
        </span>
      </button>
    </ion-buttons>
    <ion-title>
      EducoreSystems
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <observable-loader [observable]="profileObservable"></observable-loader>
      <ion-row>
        <ion-col col-3>
          <ion-avatar item-start>
            <img [src]="profile.imageId == null ? 'assets/img/default.png' : imagePath +'/'+ profile.imageId" />
          </ion-avatar>
        </ion-col>
        <ion-col col-9 text-left>
          <h1>{{profile.name}}</h1>
          <h4>{{profile.email}} </h4>
          <h4>{{profile.mobile}} </h4>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!--*********** attendance Segement ***********-->
  <ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="attendanceSegement" color="dark">
        <ion-segment-button value="monthWiseAttendance" (click)="onMonthAttendanceClicked()">
          Month Wise Attendance
        </ion-segment-button>
        <ion-segment-button value="currentMonthAttendance" (click)="onCurrentMonnthAttendanceClicked()">
          Current Month Attendance
        </ion-segment-button>
      </ion-segment>
      <!--***********  Month Wise Attendance Segement ***********-->
      <observable-loader [observable]="monthWiseAttendanceObservable"></observable-loader>
        <ion-grid  *ngIf="attendanceSegement === 'monthWiseAttendance'" class="height-200x padding-vertical-remove">
          <div echarts [options]="options" class="demo-chart"></div>
        </ion-grid>
      <!--***********  Current Month  Segement  ***********-->
      <ion-grid *ngIf="attendanceSegement === 'currentMonthAttendance'" 
            class="height-300x padding-vertical-remove">
          <calendar  [eventSource]="eventSource" 
                  [calendarMode]="calendar.mode" 
                  [currentDate]="calendar.currentDate" step="30">
          </calendar>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--*********** end attendance Segement ***********-->

  <!--*********** Approval Segement ***********-->
  <ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="approvalSegement" color="dark">
        <ion-segment-button value="pendingRequests" (click)="onPendingRequestClicked()">
          Pending Requests
        </ion-segment-button>
        <ion-segment-button value="myRequests" (click)="onMyRequestClicked()">
          My Requests
        </ion-segment-button>
      </ion-segment>

      <observable-loader [observable]="approvalObservable"></observable-loader>

      <!--***********  Pending Requests Segement ***********-->
      <ion-grid *ngIf="approvalSegement === 'pendingRequests'" class="padding-vertical-remove">
        <ion-item *ngIf="approvalRequests == null">
          <ion-grid>
            <ion-row>
              <ion-col align="center">
                Pending requets not found </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <span *ngIf="approvalRequests != null">
          <ion-scroll scrollY="true" class="height-300x">
            <ion-item *ngFor="let request of approvalRequests" class="padding-vertical-remove">
              <ion-grid no-padding (click)="onPendingRequest(request.module, request.taskId)">
                <ion-row>
                  <ion-col>
                    <div class="text-normal" align="left">{{request.message | slice:0:18}}..</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <h6 class="text-xsmall text-muted" align="left">{{request.currentStatus}} </h6>
                  </ion-col>
                  <ion-col>
                    <h6 class="text-xsmall text-muted" align="right">{{request.requestor.name}}</h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-scroll>
        </span>
      </ion-grid>

      <!--***********   My Requests  Segement  ***********-->
      <ion-grid *ngIf="approvalSegement === 'myRequests'" class="padding-vertical-remove">
        <ion-item *ngIf="myApprovalRequests == null">
          <ion-grid>
            <ion-row>
              <ion-col align="center">
                Pending requets not found. </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <span *ngIf="myApprovalRequests != null">
          <ion-scroll scrollY="true" class="height-300x">
            <ion-item *ngFor="let request of myApprovalRequests" class="padding-vertical-remove">
              <ion-grid no-padding (click)="onMyRequest(request.module, 
              request.processInstanceId,request.targetId,request.api,request.cancelable)">
                <ion-row>
                  <ion-col>
                    <div class="text-normal" align="left">{{request.message | slice:0:18}}..</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <h6 class="text-xsmall text-muted" align="left">{{request.currentStatus}}</h6>
                  </ion-col>
                  <ion-col col-9 *ngIf="request.currentApprovers != null">
                    <ion-row *ngFor="let currentApprover of request.currentApprovers">
                      <ion-col align="left">
                        <h6 class="text-xsmall text-muted" align="right">{{currentApprover.name}}</h6>
                        <h6 class="text-xsmall text-muted" align="right">{{currentApprover.email}}</h6>
                        <h6 class="text-xsmall text-muted" align="right">{{currentApprover.mobile}}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-scroll>
        </span>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--*********** end Approval Segement ***********-->

  <!--*********** Timetable Segement tab ***********-->
  <ion-card class="card card-md">
    <ion-card-content>
      <ion-segment [(ngModel)]="timetableSegement" color="dark">
        <ion-segment-button value="todayTimetable" (click)="onTodayTimetableClicked()">
          Today Timetable
        </ion-segment-button>
        <ion-segment-button value="weekTimetable" (click)="onWeekTimetableClicked()">
          Week Timetable
        </ion-segment-button>
      </ion-segment>
      
      <observable-loader [observable]="timetableObservable"></observable-loader>
      <!--***********  todayTimetable Segement ***********-->
      <ion-grid *ngIf="timetableSegement === 'todayTimetable'" class="padding-vertical-remove">
        <ion-list>
          <ion-item *ngIf="todayTimetable == null">
            <ion-grid>
              <ion-row>
                <ion-col align="center">
                  <ion-icon name="happy" color="orange" large></ion-icon> Enjoy.. You are free today. </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <span *ngIf="todayTimetable != null">
            <ion-scroll scrollY="true" class="height-300x">
              <ion-item *ngFor="let timetable of todayTimetable.timetables" class="padding-vertical-remove">
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col>
                      <div class="text-normal" align="left">{{timetable.course}}</div>
                    </ion-col>
                    <ion-col>
                      <div class="text-normal" align="right">{{timetable.batch}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h6 class="text-xsmall text-muted" align="left">{{timetable.subject}} </h6>
                    </ion-col>
                    <ion-col>
                      <h6 class="text-xsmall text-muted" align="right">{{timetable.duration}}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-scroll>
          </span>
        </ion-list>
      </ion-grid>

      <!--***********    weekTimetable Segement  ***********-->
      <ion-grid *ngIf="timetableSegement === 'weekTimetable'">
        <ion-list>
          <ion-item *ngIf="weekTimetable == null">
            <ion-grid>
              <ion-row>
                <ion-col align="center">
                  <ion-icon name="happy" color="orange" large></ion-icon> Enjoy.. You are free this week. </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <span *ngIf="weekTimetable != null">
            <ion-scroll scrollY="true" class="height-300x">
              <span *ngFor="let dayTimetable of weekTimetable.dayTimetables">
                <ion-list-header class="padding-vertical-remove">
                  {{dayTimetable.dayName}}
                </ion-list-header>
                <ion-item *ngFor="let timetable of dayTimetable.timetables" class="padding-vertical-remove">
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col>
                        <div class="text-normal" align="left">{{timetable.course}}</div>
                      </ion-col>
                      <ion-col>
                        <div class="text-normal" align="right">{{timetable.batch}}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h6 class="text-xsmall text-muted" align="left">{{timetable.subject}} </h6>
                      </ion-col>
                      <ion-col>
                        <h6 class="text-xsmall text-muted" align="right">{{timetable.duration}}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </span>
            </ion-scroll>
          </span>
        </ion-list>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--*********** Timetable Segement end ***********-->
</ion-content>
