<ion-header>
    <ion-navbar color="ios-blue">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            EducoreSystems 
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="expandUp top-container" style="background-color:#FFFCE9 !important;">
        <div class="head-img" style="text-align:left !important;">
            <div class="circular--portrait"> 
                <span *ngIf="profile.imageId==null || profile.imageId=='undefined' "><img  src="assets/img/default.png" ></span>
                <span *ngIf="profile.imageId!=null && profile.imageId!='undefined'">
                    <img  src="{{imagePath}}/{{profile.imageId}}">
                </span>
            </div>
        </div>  
        <div class="head" style="background-color:#FFFCE9 !important;">
            <h1>{{profile.name}}</h1> 
            <h3>{{profile.email}} </h3>
            </div>
            <div class="foot">
            <a href="mailto:{{profile.email}}" class="footItem1">
                <ion-icon name="ios-mail-outline"></ion-icon>
                <i></i></a><a href="tel:{{profile.mobile}}" class="footItem3">
               <ion-icon  name="ios-call-outline"></ion-icon><i></i></a>
        </div>
    </div>
    <ion-grid style="margin-top:30px;">
            <ion-row class="rowItems">
              <ion-col>
                  <div class="rowItemsCol" align="center" (click)="onView('ManageAttendanceComponent')">
                        <div class="round-item">
                        <ion-icon class="round-item-icon" name="ios-clipboard"></ion-icon>
                      </div>
                      <h3>Attendance</h3>
                </div>
              </ion-col>
              <ion-col>
                  <div class="rowItemsCol" align="center" (click)="onView('StaffLeaveComponent')">
                      <div class="round-item">
                      <ion-icon class="round-item-icon" name="ios-analytics"></ion-icon>
                    </div>
                    <h3>Apply Leaves</h3>
                  </div>
              </ion-col>
              <ion-col>
                  <div class="rowItemsCol" align="center" (click)="onView('ViewAllNotificationComponent')">
                      <div class="round-item">
                      <ion-icon class="round-item-icon" name="ios-notifications"></ion-icon>
                    </div>
                    <h3>Notifications</h3>
                  </div>
                
              </ion-col>
            </ion-row>
            <ion-row class="rowItems">
              <ion-col>
                  <div class="rowItemsCol" align="center" (click)="onView('ManageAttendanceComponent')">
                      <div class="round-item">
                      <ion-icon class="round-item-icon" name="ios-bookmarks"></ion-icon>
                    </div>
                    <h3>Bulk Notifications</h3>
                  </div>
                  
              </ion-col>
              <ion-col>
                  <div class="rowItemsCol" align="center" (click)="onView('ResultEntiryViewComponent')">
                      <div class="round-item">
                      <ion-icon class="round-item-icon" name="ios-book-outline"></ion-icon>
                    </div>
                    <h3>Result</h3>
                  </div>
                 
              </ion-col>
              <ion-col>
                  <div class="rowItemsCol" align="center">
                      <div class="round-item">
                      <ion-icon class="round-item-icon" name="locate"></ion-icon>
                    </div>
                    <h3>GPS tracking</h3>
                  </div>
                 
              </ion-col>
            </ion-row>
    </ion-grid> 
</ion-content>
