<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button icon-only ion-button (click)="onNotification()">
        <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
        <span *ngIf="notificationCount!='0'" class="notification">
          <small>
            <ion-badge color="ios-red">{{notificationCount}}</ion-badge>
          </small>
        </span>
      </button>
    </ion-buttons>
    <ion-title>
      EducoreSystems
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>



  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <ion-avatar item-start>
            <img [src]="profile.imageId == null ? 'assets/img/default.png' : imagePath +'/'+ profile.imageId" />
          </ion-avatar>
        </ion-col>
        <ion-col col-9 text-left>
          <h1>{{profile.name}}</h1>
          <h4>{{profile.email}} </h4>
          <h4>{{profile.mobile}} </h4>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <!--*********** attendance Segement ***********-->
  <ion-card class="card card-md">
    <ion-card-content>
      <ion-segment [(ngModel)]="attendanceSegement" color="dark">
        <ion-segment-button value="weekAttendance" (click)="onWeekAttendanceClicked()">
          Week Attendance
        </ion-segment-button>
        <ion-segment-button value="monthAttendance" (click)="onMonthAttendanceClicked()">
          Month Attendance
        </ion-segment-button>
      </ion-segment>

      <!--***********  Pending Requests Segement ***********-->
      <ion-grid *ngIf="attendanceSegement === 'weekAttendance'">
        <div echarts [options]="options" class="demo-chart"></div>
      </ion-grid>

      <!--***********   My Requests  Segement  ***********-->
      <ion-grid *ngIf="attendanceSegement === 'monthAttendance'">

      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--*********** end attendance Segement ***********-->




  <!--*********** Approval Segement ***********-->
  <ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="approvalSegement" color="dark">
        <ion-segment-button value="pendingRequests" (click)="onPendingRequestClicked()">
          Pending Requests
        </ion-segment-button>
        <ion-segment-button value="myRequests" (click)="onMyRequestClicked()">
          My Requests
        </ion-segment-button>
      </ion-segment>

      <!--***********  Pending Requests Segement ***********-->
      <ion-grid *ngIf="approvalSegement === 'pendingRequests'">
        Pending Requests

      </ion-grid>

      <!--***********   My Requests  Segement  ***********-->
      <div *ngIf="approvalSegement === 'myRequests'">
        My Requests

      </div>
    </ion-card-content>
  </ion-card>
  <!--*********** end Approval Segement ***********-->

  <!--*********** Timetable Segement tab ***********-->
  <ion-card class="card card-md">
    <ion-card-content>
      <ion-segment [(ngModel)]="timetableSegement" color="dark">
        <ion-segment-button value="todayTimetable" (click)="onTodayTimetableClicked()">
          Today Timetable
        </ion-segment-button>
        <ion-segment-button value="weekTimetable" (click)="onWeekTimetableClicked()">
          Week Timetable
        </ion-segment-button>
      </ion-segment>

      <!--***********  todayTimetable Segement ***********-->
      <div *ngIf="timetableSegement === 'todayTimetable'">
        <ion-list>
          <ion-item *ngIf="todayTimetable == null">
            <ion-grid>
              <ion-row>
                <ion-col align="center">
                  <ion-icon name="happy" color="orange" large></ion-icon> Ohh.. You are free today. </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <span *ngIf="todayTimetable != null">
            <ion-scroll scrollY="true" class="height-300x">
              <ion-item *ngFor="let timetable of todayTimetable.timetables">
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col>
                      <div align="left">{{timetable.course}}</div>
                    </ion-col>
                    <ion-col>
                      <div align="right">{{timetable.batch}}</div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h6 align="left">{{timetable.subject}} </h6>
                    </ion-col>
                    <ion-col>
                      <h6 align="right">{{timetable.duration}}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-scroll>
          </span>
        </ion-list>
      </div>

      <!--***********    weekTimetable Segement  ***********-->
      <div *ngIf="timetableSegement === 'weekTimetable'">
        <ion-list>
          <ion-item *ngIf="weekTimetable == null">
            <ion-grid>
              <ion-row>
                <ion-col align="center">
                  <ion-icon name="happy" color="orange" large></ion-icon> Ohh.. You are free this week. </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <span *ngIf="weekTimetable != null">
            <ion-scroll scrollY="true" class="height-300x">
              <span *ngFor="let dayTimetable of weekTimetable.dayTimetables">
                <ion-list-header>
                  {{dayTimetable.dayName}}
                </ion-list-header>
                <ion-item *ngFor="let timetable of dayTimetable.timetables">
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col>
                        <div align="left">{{timetable.course}}</div>
                      </ion-col>
                      <ion-col>
                        <div align="right">{{timetable.batch}}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h6 align="left">{{timetable.subject}} </h6>
                      </ion-col>
                      <ion-col>
                        <h6 align="right">{{timetable.duration}}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </span>
            </ion-scroll>
          </span>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
  <!--*********** Timetable Segement end ***********-->
</ion-content>
