profile-friends {
  position: fixed;
  height: 50%;
  width: 100%;
  ion-scroll {
    position: absolute;
    height: 100%;
    width: 100%;
  }
   .loading{
      width:150px;
      margin: 20% auto;
  }
}
