<ion-header>
    <ion-navbar color="ios-blue">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons end>
          <button icon-only ion-button  (click)="onNotification()" >
            <ion-icon ios="ios-notifications" md="md-notifications" ></ion-icon> 
            <span *ngIf="notificationCount!='0'" class="notification">    
                <small><ion-badge color="ios-red">{{notificationCount}}</ion-badge></small>  
             </span>
          </button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content fullscreen class="tutorial-page" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-slides pager="true">
  
        <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background-color': slide.color} "> 
              <div class="intro-box">
                  <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                  <p [innerHTML]="slide.description"></p>
              </div>
        </ion-slide>
    </ion-slides>
  
  </ion-content>         
  