<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Card</ion-title>
    <ion-buttons end>
      <button ion-button (click)="showSearch = !showSearch"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar *ngIf="showSearch" (ionInput)="onSearch($event)"></ion-searchbar>
  <ion-scroll scrollY="true">
    <ion-card *ngIf="!feed || (feed && feed?.length === 0)" padding text-center>
      <h1>No News Data</h1>
      <h2>Add Friends to see thier news feed or add your own feed.</h2>
      <button ion-button color="stable" (click)="peoplePage()">Add Friends</button>
    </ion-card>
    <ion-card *ngFor="let item of feed" [navPush]="pushPage" [navParams]="item">
      <ion-row>
        <ion-col width-40 no-padding *ngIf="item?.images?.length > 0"
        [ngStyle]="{'background-image': 'url('+ item?.images[0]| sanitize: 'url' +')'}" class="background-image">
        </ion-col>
        <ion-col>
          <div class="social">
            <span class="badge"><ion-icon name="heart"></ion-icon><span *ngIf="item?.likes?.length > 0">{{item?.likes?.length}}</span></span>
            <span class="badge"><ion-icon name="chatboxes"></ion-icon><span *ngIf="item?.likes?.length > 0">{{item?.comments?.length}}</span></span>
          </div>
          <div class="content-inner">
            <h2>{{item?.title | slice: 0: 30}}</h2>
            <p>{{item?.content | slice: 0: 50}}..[+] </p>
            <span class="time">posted {{item?.created_at | amTimeAgo}}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-scroll>
  <ion-fab right bottom (click)="addFeed();">
    <button ion-fab mini color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
