<ion-header>
    <ion-navbar color="ios-blue">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            EducoreSystems
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!--**************** Student Card ***************************** -->
    <ion-card>
        <ion-card-content>
            <observable-loader [observable]="studentObservable"></observable-loader>
            <ion-slides>
                <ion-slide *ngFor="let student of students" (ionSlideDidChange)="onStudentSlide(student.id)">
                    <ion-row>
                        <ion-col col-3>
                            <ion-avatar item-start>
                                <img [src]="student.imageId == null ? 'assets/img/student-f.png' : imagePath +'/'+ student.imageId" />
                            </ion-avatar>
                        </ion-col>
                        <ion-col col-9 text-left>
                            <h1>{{student.name}}</h1>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
    <!--**************** Teacher Card ***************************** -->
    <ion-card>
        <ion-card-content>
            <observable-loader [observable]="reportingTeacherObservable"></observable-loader>
            <ion-row>
                <ion-col col-3>
                    <ion-avatar item-start>
                        <img [src]="teacher.imageId == null ? 'assets/img/default.png' : imagePath +'/'+ teacher.imageId" />
                    </ion-avatar>
                </ion-col>
                <ion-col col-9 text-left>
                    <h1>{{teacher.name}} | {{teacher.designationId.name}} </h1>
                    <h4>{{teacher.mobile}} </h4>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
   <!-- **********************End Teacher Student Details ************************ -->
<!--*********** attendance Segement ***********-->
<ion-card>
  <ion-card-content>
    <ion-segment [(ngModel)]="attendanceSegement" color="dark">
      <ion-segment-button value="monthWiseAttendance" (click)="onMonthAttendanceClicked()">
        Month Wise Attendance
      </ion-segment-button>
      <ion-segment-button value="currentMonthAttendance" (click)="onCurrentMonnthAttendanceClicked()">
        Current Month Attendance
      </ion-segment-button>
      <ion-segment-button value="result" (click)="onResultlicked()">
        Result Statistics
      </ion-segment-button>
    </ion-segment>
    <!--$$$$$$$$$$$$$ Month Wise Attendance Segement $$$$$$$$$$$$$$$-->
    <observable-loader [observable]="monthWiseAttendanceObservable"></observable-loader>
      <ion-grid  *ngIf="attendanceSegement === 'monthWiseAttendance'" class="height-200x padding-vertical-remove">
        <div echarts [options]="options" class="demo-chart"></div>
      </ion-grid>
    <!--$$$$$$$$$$$$$  Current Month  Segement $$$$$$$$$$$$$$$$$$$$$$-->
    <ion-grid *ngIf="attendanceSegement === 'currentMonthAttendance'" 
          class="height-300x padding-vertical-remove">
        <calendar  [eventSource]="eventSource" 
                [calendarMode]="calendar.mode" 
                [currentDate]="calendar.currentDate" step="30">
        </calendar>
    </ion-grid>
     <!--$$$$$$$$$$$$$ Result Segement $$$$$$$$$$$$$$$-->
     <observable-loader [observable]="resultObservable"></observable-loader>
     <ion-grid  *ngIf="attendanceSegement === 'result'" class="height-200x padding-vertical-remove">
       <div echarts [options]="options" class="demo-chart"></div>
     </ion-grid>
  </ion-card-content>
</ion-card>
<!--*********** end attendance Segement ***********-->

   <!--*********** Approval Segement ***********-->
  <ion-card>
        <ion-card-content>
          <ion-segment [(ngModel)]="approvalSegement" color="dark">
            <ion-segment-button value="pendingRequests" (click)="onPendingRequestClicked()">
              Pending Requests
            </ion-segment-button>
            <ion-segment-button value="myRequests" (click)="onMyRequestClicked()">
              My Requests
            </ion-segment-button>
          </ion-segment>
          <observable-loader [observable]="approvalObservable"></observable-loader>
          <!--***********  Pending Requests Segement ***********-->
          <ion-grid *ngIf="approvalSegement === 'pendingRequests'" class="padding-vertical-remove">
            <ion-item *ngIf="approvalRequests == null">
              <ion-grid>
                <ion-row>
                  <ion-col align="center">
                    Pending requets not found </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <span *ngIf="approvalRequests != null">
              <ion-scroll scrollY="true" class="height-300x">
                <ion-item *ngFor="let request of approvalRequests" class="padding-vertical-remove">
                  <ion-grid no-padding (click)="onPendingRequest(request.module, request.taskId)">
                    <ion-row>
                      <ion-col>
                        <div class="text-normal" align="left">{{request.message}}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h6 class="text-xsmall text-muted" align="left">{{request.currentStatus}} </h6>
                      </ion-col>
                      <ion-col>
                        <h6 class="text-xsmall text-muted" align="right">{{request.requestor.name}}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-scroll>
            </span>
          </ion-grid>
    
          <!--***********   My Requests  Segement  ***********-->
          <ion-grid *ngIf="approvalSegement === 'myRequests'" class="padding-vertical-remove">
            <ion-item *ngIf="myApprovalRequests == null">
              <ion-grid>
                <ion-row>
                  <ion-col align="center">
                    Pending requets not found. </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <span *ngIf="myApprovalRequests != null">
              <ion-scroll scrollY="true" class="height-300x">
                <ion-item *ngFor="let request of myApprovalRequests" class="padding-vertical-remove">
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col>
                        <div class="text-normal" align="left">{{request.message}}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-3>
                        <h6 class="text-xsmall text-muted" align="left">{{request.currentStatus}}</h6>
                      </ion-col>
                      <ion-col col-9 *ngIf="request.currentApprovers != null">
                        <ion-row *ngFor="let currentApprover of request.currentApprovers">
                          <ion-col align="left">
                            <h6 class="text-xsmall text-muted" align="right">{{currentApprover.name}}</h6>
                            <h6 class="text-xsmall text-muted" align="right">{{currentApprover.email}}</h6>
                            <h6 class="text-xsmall text-muted" align="right">{{currentApprover.mobile}}</h6>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-scroll>
            </span>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    <!--*********** end Approval Segement ***********-->
    
</ion-content>