<ion-header>
    <ion-navbar color="ios-blue">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
          <button icon-only ion-button (click)="onNotification()">
            <notification-counter></notification-counter>
          </button>
      </ion-buttons>
        <ion-title>
            EducoreSystems
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!--**************** Student Card ***************************** -->
    <ion-card>
        <ion-card-content>
            <observable-loader [observable]="studentObservable"></observable-loader>
            <ion-slides>
                <ion-slide *ngFor="let student of students" (ionSlideDidChange)="onStudentSlide(student.id)">
                    <ion-row>
                        <ion-col col-3>
                            <ion-avatar item-start>
                                <img *ngIf="student.gender=='Female' || student.gender=='F'"  [src]="student.imageId == null ? 'assets/img/student-f.png' : imagePath +'/'+ student.imageId" />
                                <img *ngIf="student.gender==null || student.gender=='Male' || student.gender=='M'"  [src]="student.imageId == null ? 'assets/img/student-m.png' : imagePath +'/'+ student.imageId" />
                            </ion-avatar>
                        </ion-col>
                        <ion-col col-9 text-left>
                            <p>{{student.name}} </p>
                            <p>RollNumber : {{student.admissionId.registrations[0].rollNumber}} </p>
                        </ion-col>
                    </ion-row>
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
    <!--**************** Teacher Card ***************************** -->
    <ion-card>
        <ion-card-content>
            <observable-loader [observable]="reportingTeacherObservable"></observable-loader>
            <ion-row>
                <ion-col col-3>
                    <ion-avatar item-start>
                        <img [src]="teacher.imageId == null ? 'assets/img/default.png' : imagePath +'/'+ teacher.imageId" />
                    </ion-avatar>
                </ion-col>
                <ion-col col-9 text-left>
                    <p>{{teacher.name}} </p>
                    <p>Class Teacher </p>
                    <p><ion-icon ios="ios-call" md="md-call"></ion-icon> {{teacher.mobile}} </p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
   <!-- **********************End Teacher Student Details ************************ -->
<!--*********** attendance Segement ***********-->
<ion-card>
  <ion-card-content>
    <ion-segment [(ngModel)]="attendanceSegement" color="dark">
      <ion-segment-button value="monthWiseAttendance" (click)="onMonthAttendanceClicked()">
        Month Wise Attendance
      </ion-segment-button>
      <ion-segment-button value="currentMonthAttendance" (click)="onCurrentMonnthAttendanceClicked()">
        Current Month Attendance
      </ion-segment-button>
    </ion-segment>
    <!--$$$$$$$$$$$$$ Month Wise Attendance Segement $$$$$$$$$$$$$$$-->
    <observable-loader [observable]="monthWiseAttendanceObservable"></observable-loader>
      <ion-grid  *ngIf="attendanceSegement === 'monthWiseAttendance'" class="height-200x padding-vertical-remove">
        <div echarts [options]="options" class="demo-chart"></div>
      </ion-grid>
    <!--$$$$$$$$$$$$$  Current Month  Segement $$$$$$$$$$$$$$$$$$$$$$-->
    <ion-grid *ngIf="attendanceSegement === 'currentMonthAttendance'" 
          class="height-300x padding-vertical-remove">
        <calendar  [eventSource]="eventSource" 
                [calendarMode]="calendar.mode" 
                [currentDate]="calendar.currentDate" step="30">
        </calendar>
    </ion-grid>
  </ion-card-content>
</ion-card>
<!--*********** end attendance Segement ***********-->
<!--*********** Result Segement ***********-->
<ion-card>
    <ion-card-content>
      <ion-segment [(ngModel)]="resultSegement" color="dark">
        <ion-segment-button value="examWiseResult" (click)="onExamWiseResultClick()">
            Exam wise Result
        </ion-segment-button>
        <ion-segment-button value="termWiseResult" (click)="onTermwiseResultClick()">
            Term wise Result
        </ion-segment-button>
      </ion-segment>
      <!--$$$$$$$$$$$$$ Month Wise Attendance Segement $$$$$$$$$$$$$$$-->
      <observable-loader [observable]="examWiseResultObservable"></observable-loader>
        <ion-grid  *ngIf="resultSegement === 'examWiseResult'" class="height-200x padding-vertical-remove">
          <div echarts [options]="examWiswResultOption" class="demo-chart"></div>
        </ion-grid>
       <!--$$$$$$$$$$$$$ Result Segement $$$$$$$$$$$$$$$-->
       <observable-loader [observable]="termWiseResultObservable"></observable-loader>
       <ion-grid  *ngIf="resultSegement === 'termWiseResult'" class="height-200x padding-vertical-remove">
         <div echarts [options]="termWiswResultOption" class="demo-chart"></div>
       </ion-grid>
    </ion-card-content>
  </ion-card>
  <!--*********** end Result Segement ***********-->

  <!--*********** Time Table Segement ***********-->
<ion-card>
  <ion-card-content>
    <ion-segment [(ngModel)]="timeTableSegement" color="dark">
      <ion-segment-button value="timetable" (click)="onTimeTableClick()">
          Time Table
      </ion-segment-button>
      <ion-segment-button value="todayTimetable" (click)="onTodayTimeTableClick()">
        Today Time Table
      </ion-segment-button>
    </ion-segment>
    <observable-loader [observable]="timeTableObservable"></observable-loader>
      <ion-grid  *ngIf="timeTableSegement === 'timetable'" class="height-200x padding-vertical-remove">
        <ion-item *ngIf="timeTables == null">
          <ion-grid>
            <ion-row>
              <ion-col align="center">
                Time table not found </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <span *ngIf="timeTables != null">
          <ion-scroll scrollY="true" class="height-300x">
            <ion-item *ngFor="let timeTable of timeTables.timetableDays" class="padding-vertical-remove">
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                    <div class="text-normal" align="left">{{timeTable.dayName}}</div>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let period of timeTable.periods">
                  <ion-col col-3>
                    <h6 class="text-xsmall text-muted" align="left">{{period.subjectId.name}}</h6>
                  </ion-col>
                  <ion-col col-9 >
                    <h6 class="text-xsmall text-muted" align="right">{{period.start}} - {{period.start}}</h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-scroll>
        </span>
      </ion-grid>
      <!--********************** Today Time table**************************** -->
      <observable-loader [observable]="todayTableObservable"></observable-loader>
      <ion-grid  *ngIf="timeTableSegement === 'todayTimetable'" class="height-200x padding-vertical-remove">
        <ion-item *ngIf="todayTables == null">
          <ion-grid>
            <ion-row>
              <ion-col align="center">
                Today Time table not found </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <span *ngIf="todayTables != null">
          <ion-scroll scrollY="true" class="height-300x">
            <ion-item *ngFor="let timeTable of todayTables.timetableDays" class="padding-vertical-remove">
              <ion-grid no-padding>
                <ion-row>
                  <ion-col>
                    <div class="text-normal" align="left">{{timeTable.dayName}}</div>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let period of timeTable.periods">
                  <ion-col col-3>
                    <h6 class="text-xsmall text-muted" align="left">{{period.subjectId.name}}</h6>
                  </ion-col>
                  <ion-col col-9 >
                    <h6 class="text-xsmall text-muted" align="right">{{period.start}} - {{period.start}}</h6>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-scroll>
        </span>
      </ion-grid>
  </ion-card-content>
</ion-card>
<!--*********** end Time table Segement ***********-->


   <!--*********** Approval Segement ***********-->
  <ion-card>
        <ion-card-content>
          <ion-segment [(ngModel)]="approvalSegement" color="dark">
            <ion-segment-button value="myRequests" (click)="onMyRequestClicked()">
              My Requests
            </ion-segment-button>
            <ion-segment-button value="studentRequests" (click)="onStudentRequestClicked()">
                {{studentName}} Requests
            </ion-segment-button>
          </ion-segment>
          <observable-loader [observable]="requestObservable"></observable-loader>
          <!--***********  Pending Requests Segement ***********-->
          <ion-grid *ngIf="approvalSegement === 'studentRequests'" class="padding-vertical-remove">
            <ion-item *ngIf="approvalRequests == null">
              <ion-grid>
                <ion-row>
                  <ion-col align="center">
                    Requests not found! </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <span *ngIf="approvalRequests != null">
              <ion-scroll scrollY="true" class="height-300x">
                <ion-item *ngFor="let request of approvalRequests" class="padding-vertical-remove">
                  <ion-grid no-padding (click)="onMyRequest(request.module, request.processInstanceId,request.targetId,request.api)">
                    <ion-row>
                      <ion-col>
                        <div class="text-normal" align="left">  {{request.message | slice:0:18}} ..</div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <h6 class="text-xsmall text-muted" align="left">{{request.currentStatus}} </h6>
                      </ion-col>
                      <ion-col>
                        <h6 class="text-xsmall text-muted" align="right">{{request.requestor.name}}</h6>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-scroll>
            </span>
          </ion-grid>
    
          <!--***********   My Requests  Segement  ***********-->
          <ion-grid *ngIf="approvalSegement === 'myRequests'" class="padding-vertical-remove">
            <ion-item *ngIf="myApprovalRequests == null">
              <ion-grid>
                <ion-row>
                  <ion-col align="center">
                    Requests not found! </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <span *ngIf="myApprovalRequests != null">
              <ion-scroll scrollY="true" class="height-300x">
                <ion-item *ngFor="let request of myApprovalRequests" class="padding-vertical-remove">
                  <ion-grid no-padding>
                    <ion-row>
                      <ion-col>
                        <div class="text-normal" align="left">{{request.message}}</div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-3>
                        <h6 class="text-xsmall text-muted" align="left">{{request.currentStatus}}</h6>
                      </ion-col>
                      <ion-col col-9 *ngIf="request.currentApprovers != null">
                        <ion-row *ngFor="let currentApprover of request.currentApprovers">
                          <ion-col align="left">
                            <h6 class="text-xsmall text-muted" align="right">{{currentApprover.name}}</h6>
                            <h6 class="text-xsmall text-muted" align="right">{{currentApprover.email}}</h6>
                            <h6 class="text-xsmall text-muted" align="right">{{currentApprover.mobile}}</h6>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-scroll>
            </span>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    <!--*********** end Approval Segement ***********-->
    
</ion-content>