<ion-header>
  <ion-navbar color="ios-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
        <button icon-only ion-button  (click)="onNotification()" >
            <notification-counter></notification-counter>
        </button>
    </ion-buttons>
    <ion-title>Bulk Notification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-list class="notification-list">

    <ion-item-sliding tappable no-lines *ngFor="let notification of notifications">
      <ion-item>
          
          <ion-avatar item-start >
              <span class="serial" [style.background-color]="notification.colorId"> {{notification.str}}</span>
          </ion-avatar>
          {{notification.template.mode}}
          <p> 
            <span class="small"><ion-icon name="contact"></ion-icon> {{notification.createdBy}} </span>
            <span>&nbsp;</span>
            <span class="small text-flot-right">
             <ion-icon name="time"></ion-icon> <small>{{notification.pushTime}}</small>
          </span>
        </p> 
    </ion-item>
    <ion-item-options>
        <button ion-button color="secondary" (click)="onView(notification.id)">
          <ion-icon name="ios-eye-outline"></ion-icon>
          View
        </button>
        <button ion-button color="dark" (click)="onEdit(notification.id)">
          <ion-icon name="ios-create"></ion-icon>
          Edit
        </button>
        <button *ngIf="notification.restricted==false" ion-button color="danger" (click)="onDelete(notification.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
      
    </ion-item-sliding> 
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="onLoad($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  <ion-fab bottom right (click)="onAddNew()">
      <button ion-fab>
          <ion-icon name="ios-add-outline" color="white"></ion-icon>  
      </button>    
  </ion-fab>
</ion-content>